@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p8731m');
  src:  url('fonts/icomoon.eot?p8731m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p8731m') format('truetype'),
    url('fonts/icomoon.woff?p8731m') format('woff'),
    url('fonts/icomoon.svg?p8731m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sigo:before {
  content: "\e925";
}
.icon-archive:before {
  content: "\e908";
}
.icon-bar-chart-2:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e909";
}
.icon-book-open:before {
  content: "\e90a";
}
.icon-box:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e926";
}
.icon-check-circle:before {
  content: "\e927";
}
.icon-copy:before {
  content: "\e928";
}
.icon-database:before {
  content: "\e90d";
}
.icon-download:before {
  content: "\e90e";
}
.icon-download-cloud:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-edit-2:before {
  content: "\e911";
}
.icon-eye:before {
  content: "\e912";
}
.icon-eye-off:before {
  content: "\e913";
}
.icon-file:before {
  content: "\e900";
}
.icon-file-text:before {
  content: "\e906";
}
.icon-globe:before {
  content: "\e914";
}
.icon-home:before {
  content: "\e901";
}
.icon-layers:before {
  content: "\e904";
}
.icon-link:before {
  content: "\e915";
}
.icon-link-2:before {
  content: "\e916";
}
.icon-log-in:before {
  content: "\e917";
}
.icon-log-out:before {
  content: "\e918";
}
.icon-map:before {
  content: "\e929";
}
.icon-menu:before {
  content: "\e919";
}
.icon-more-horizontal:before {
  content: "\e91a";
}
.icon-more-vertical:before {
  content: "\e91b";
}
.icon-package:before {
  content: "\e91c";
}
.icon-paperclip:before {
  content: "\e91d";
}
.icon-plus-circle:before {
  content: "\e907";
}
.icon-save:before {
  content: "\e92a";
}
.icon-search:before {
  content: "\e92b";
}
.icon-settings:before {
  content: "\e91e";
}
.icon-thumbs-down:before {
  content: "\e92c";
}
.icon-thumbs-up:before {
  content: "\e92d";
}
.icon-toggle-left:before {
  content: "\e91f";
}
.icon-toggle-right:before {
  content: "\e920";
}
.icon-trash:before {
  content: "\e921";
}
.icon-trash-2:before {
  content: "\e922";
}
.icon-upload:before {
  content: "\e923";
}
.icon-upload-cloud:before {
  content: "\e924";
}
.icon-user:before {
  content: "\e902";
}
.icon-users:before {
  content: "\e903";
}
